<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1033640282774-dnbodqlrv19eobh0d2p6cbej0tme0me2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1033640282774-dnbodqlrv19eobh0d2p6cbej0tme0me2</string>
	<key>API_KEY</key>
	<string>AIzaSyBxyWkieNVp08olmolpCReucXRvJZd_96Q</string>
	<key>GCM_SENDER_ID</key>
	<string>1033640282774</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.postsapp</string>
	<key>PROJECT_ID</key>
	<string>postsapp-1bc79</string>
	<key>STORAGE_BUCKET</key>
	<string>postsapp-1bc79.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1033640282774:ios:f4cb9d21fe56b16a8550b7</string>
</dict>
</plist>